<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QL_quancafe.Properties.Settings.QL_COFFEEConnectionString" connectionString="Data Source=DESKTOP-MC\SQLEXPRESS;Initial Catalog=QL_COFFEE;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
